/* © Victor Loots, 2022
/*
/* Fonts */
@font-face {
  font-family: "domineregular";
  src: url("../fonts/domine-regular-webfont.eot");
  src: url("../fonts/domine-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/domine-regular-webfont.woff2") format("woff2"),
    url("../fonts/domine-regular-webfont.woff") format("woff"),
    url("../fonts/domine-regular-webfont.ttf") format("truetype"),
    url("../fonts/domine-regular-webfont.svg#domineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
/* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "open_sansregular", Verdana, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}

/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 1.4rem;
  line-height: 150%;
}

#container {
  padding: 2vh;
}
h1 {
  text-align: center;
  font-family: var(--font_titel);
  padding: 4vh 0;
}
footer{
  display: flex;
  justify-content: space-around;
  font-family: var(--font_subtitel);
  padding: 2vh 0 1vh 0;
}
@media (min-width: 750px) {
  #container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}
main{
  height: 100vh;
  width: 100%;
  background: url(../img/trees.png) repeat-x bottom left,  url(../img/santa_sleigh.png) no-repeat center center,url(../img/snow.png) repeat top left, url(../img/stars.png) repeat-x top left, url(../img/sky.png) repeat top left;
}

